<div class="col-xs-12">
    <a href="#/new" class="btn btn-success">New Post</a>
    <h1>Posts</h1>
    <div ng-repeat="post in posts">
        <h3><a href="#/detail/{{ post.id }}" class="">{{ post.title }}</a></h3>
        <p>{{ post.body }}</p>
    </div>
    <ul class="pagination">
        <li ng-class="{active: $index+1==currentPage}"
            ng-repeat="page in pages(numberOfPages) track by $index" >
            <a ng-click="updateQuery($index+1)" href="">{{ $index + 1}}</a></li>
    </ul>
</div>


